<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>FaceBot</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/add-action" class="btn btn-primary btn-sm">Add a Trigger</a> 
        <a href="/start/<%= user.facebook.id %>" class="btn btn-primary btn-sm">Reset Bot</a> 

    </div>
    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-xs-12">
            <div class="col-sm-6">

            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
                    <p>
                        <strong>id</strong>: <%= user.facebook.id %><br>
                        <strong>token</strong>: <%= user.facebook.token %><br>
                        <strong>email</strong>: <%= user.facebook.email %><br>
                        <strong>name</strong>: <%= user.facebook.name %><br>
                        <strong>password</strong>: <%= user.facebook.password %> <a href="/signup">Add your bot password </a>
                    </p>

            </div>
            </div>
            <div class="col-sm-6">
            <div class="well">
                <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.twitter.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.twitter.id %><br>
                        <strong>token</strong>: <%= user.twitter.token %><br>
                        <strong>display name</strong>: <%= user.twitter.displayName %><br>
                        <strong>username</strong>: <%= user.twitter.username %>
                    </p>

                    <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
                <% } else { %>
                    <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
                <% } %>

            </div>
        </div>
        </div>
        </div>
        <div class="row">
                <div class="col-xs-12">

            <div class="col-sm-6">
            <h3>All Bots</h3>
            <% for(var i = 0; i < bots.length; ++i) { %>
            <ul <% if (bots[i].used) { %>style="color: #CCC" <% } %>>
                <li><b>Name</b>: <%= bots[i].name %></li>
                <li><b>Description</b>: <%= bots[i].desc %></li>
                <li><b>Usage</b>: <%= bots[i].usage %></li>
                <% if (!bots[i].used) { %><li><b>Add Bot</b>: <a href="/add-bot/<%= bots[i].id %>">Add bot</a></li> <% } %>
            </ul>
            <% } %>
            </div>
            <div class="col-sm-6">
            <h3>Your Bots</h3>
            <% for(var i = 0; i < common.length; ++i) { %>
            <ul>
                <li><b>Name</b>: <%= common[i].name %></li>
                <li><b>Description</b>: <%= common[i].desc %></li>
                <li><b>Usage</b>: <%= common[i].usage %></li>
                <li><b>Add Bot</b>: <a href="/remove-bot/<%= common[i].id %>">Remove bot</a></li>
            </ul>
            <% } %>
            </div>
            </div>
        </div>
        

    </div>

</div>
</body>
</html>